@import url('https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&family=Open+Sans:ital,wght@0,300..800;1,300..800&display=swap');
@tailwind base;
@tailwind components;
@tailwind utilities;

*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

@layer components{

  .btn__primary{
    @apply bg-orange-400 hover:bg-orange-600 transition-all duration-150;
  }
  .searchBar{
    @apply w-44 h-7 lg:h-10 lg:w-2/4 px-4 rounded-lg outline-none text-gray-700 bg-gray-100;
  }
}
